<form [formGroup]="contactUsForm" (ngSubmit)="onSubmit()">
  <input
    class="mb-2.5 w-full rounded-lg px-5 py-2 text-sm placeholder:text-primary"
    type="text"
    formControlName="name"
    placeholder="Name" />
  <input
    class="mb-2.5 w-full rounded-lg px-5 py-2 text-sm placeholder:text-primary"
    type="text"
    formControlName="email"
    placeholder="Email" />
  <input
    class="mb-2.5 w-full rounded-lg px-5 py-2 text-sm placeholder:text-primary"
    type="text"
    formControlName="phone"
    placeholder="Phone" />
  <textarea
    class="mb-8 w-full resize-none rounded-lg px-5 py-2 text-sm placeholder:text-primary"
    type="text"
    formControlName="message"
    placeholder="Message">
  </textarea>

  <div class="flex justify-center lg:justify-end">
    <button class="primary-button">Submit</button>
  </div>
</form>
