<main class="py-5 lg:mx-auto lg:max-w-[992px]">
  <section class="mb-24">
    <app-main-banner />
  </section>

  <section class="mb-24">
    <app-solutions-carousel />
  </section>

  <section class="mb-48">
    <app-features-carousel />
  </section>

  <section class="mb-24">
    <app-feedback />
  </section>

  <section class="mb-24">
    <app-info />
  </section>

  <section class="mb-24">
    <app-partners />
  </section>

  <section>
    <article class="virtu-container">
      <div class="flex justify-center">
        <a class="primary-button" [routerLink]="['/contact-us']">
          Request a demo today
        </a>
      </div>
    </article>
  </section>
</main>
