<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header class="key-feature min-h-24">
      <mat-panel-title
        class="font-poppins text-sm font-bold !text-primary lg:text-base">
        {{ title }}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p
      *ngIf="description; else descriptionList"
      class="font-poppins text-sm !text-primary lg:text-base">
      {{ description }}
    </p>
    <ng-template #descriptionList>
      <ul class="font-poppins text-sm !text-primary lg:text-base">
        <li class="mb-2" *ngFor="let item of list">
          <span class="font-bold">{{ item.title }}</span> {{ item.description }}
        </li>
      </ul>
    </ng-template>
  </mat-expansion-panel>
</mat-accordion>
