<main class="py-5 lg:mx-auto lg:max-w-[992px]">
  <section class="mb-24">
    <img
      class="absolute left-0 top-0 -z-10 hidden -translate-y-1/3 lg:block"
      src="assets/industries/industries.png"
      alt="" />
    <article class="virtu-container">
      <h1 class="mb-5 text-center text-5xl font-bold lg:text-6xl">
        Get in Touch with Virtu Medical
      </h1>

      <p class="text-sm lg:text-center lg:text-base">
        Have questions or need more information? We're here to help. Reach out
        to our team for personalized support and learn how Virtu Medical can
        transform your healthcare operations.
      </p>
    </article>
  </section>

  <section class="mb-24">
    <article class="virtu-container">
      <ul class="lg:flex lg:items-center lg:justify-between">
        <li class="mb-10 lg:mb-0 lg:w-1/3">
          <app-contact-card
            [image]="'assets/contact-us/pin.png'"
            [title]="'Office Address'"
            [info]="'3003 N. Commerce Pkwy, Miramar, FL 33025'" />
        </li>
        <li class="mb-10 lg:mb-0 lg:w-1/3">
          <app-contact-card
            [image]="'assets/contact-us/phone.png'"
            [title]="'Phone Number'"
            [info]="'T. 1.888.569.4201'" />
        </li>
        <li class="lg:w-1/3">
          <app-contact-card
            [image]="'assets/contact-us/mail.png'"
            [title]="'Email Address'"
            [info]="'T. 1.888.569.4201'" />
        </li>
      </ul>
    </article>
  </section>

  <section>
    <article class="virtu-container">
      <app-contact-us-form />
    </article>
  </section>
</main>
