<swiper-container
  class="mySwiper pl-5"
  [breakpoints]="breakpointsConfig"
  space-between="30"
  pagination="true"
  pagination-clickable="true">
  <swiper-slide>
    <app-features-card
      [title]="'Accountable Care Organizations (ACOs)'"
      [description]="
        'Empower your ACO with data-driven insights and predictive analytics. Virtu helps streamline care coordination, improve patient outcomes, and reduce costs by providing actionable intelligence through our comprehensive suite of modules.'
      "
      [image]="'assets/industries/carousel/aco.png'"
      [link]="'aco'" />
  </swiper-slide>
  <swiper-slide>
    <app-features-card
      [title]="'Value-Based Care Providers'"
      [description]="
        'As value-based care continues to evolve, Virtu provides the tools you need to focus on patient-centered outcomes. Our platform helps track performance measures, reduce care gaps, and align your organization with value-based care goals.'
      "
      [image]="'assets/industries/carousel/value-based.png'"
      [link]="'value-based-care'" />
  </swiper-slide>
  <swiper-slide>
    <app-features-card
      [title]="'Medicare/Medicaid Payers'"
      [description]="
        'For payers, our platform offers robust analytics to track quality measures, manage costs, and enhance member health outcomes. Improve your oversight with data-rich reports and actionable insights that drive efficiency and better care.'
      "
      [image]="'assets/industries/carousel/medicare.png'"
      [link]="'medicare'" />
  </swiper-slide>
  <swiper-slide>
    <app-features-card
      [title]="'Hospitals and Health Systems'"
      [description]="
        'Virtu equips hospitals and health systems with powerful tools to manage everything from day-to-day operations to complex patient care. Our platform ensures seamless collaboration, operational efficiency, and better outcomes.'
      "
      [image]="'assets/industries/carousel/hospitals.png'"
      [link]="'hospitals'" />
  </swiper-slide>
  <swiper-slide>
    <app-features-card
      [title]="'Medicare Advantage'"
      [description]="
        'Maximize member satisfaction and performance in your Medicare Advantage plan with Virtu. Our data-driven solutions help you monitor performance, manage risk, and improve health outcomes for your members.'
      "
      [image]="'assets/industries/carousel/advantage.png'"
      [link]="'medicare-advantage'" />
  </swiper-slide>
  <swiper-slide>
    <app-features-card
      [title]="'Physician Groups'"
      [description]="
        'Empower your physician group with the tools to coordinate care, improve patient outcomes, and streamline administrative tasks. Virtu helps physicians focus on what matters most – delivering quality care to patients.'
      "
      [image]="'assets/industries/carousel/physician.png'"
      [link]="'physician'" />
  </swiper-slide>
</swiper-container>
