<article class="virtu-container lg:flex lg:flex-row-reverse lg:items-center">
  <div class="mb-6">
    <img src="/assets/analytics-portal/features.png" alt="Analytics portal" />
  </div>
  <div class="px-10">
    <ul class="lg:grid lg:grid-cols-2 lg:gap-x-3 lg:gap-y-5">
      <li
        class="mb-12 last:mb-0 lg:mb-0 lg:flex lg:flex-col lg:justify-between">
        <div>
          <p class="mb-4 text-xl font-bold text-purple">Membership</p>
          <p class="mb-4 text-sm">
            The Membership Module in Virtu’s Analytics Portal offers complete
            control over patient tracking and engagement.
          </p>
        </div>
        <a class="text-base font-bold text-accentPurple" href=""
          >Learn more
          <img
            class="ml-3 inline"
            src="/assets/analytics-portal/chevron-right.svg"
            alt="Learn more"
        /></a>
      </li>
      <li
        class="mb-12 last:mb-0 lg:mb-0 lg:flex lg:flex-col lg:justify-between">
        <div>
          <p class="mb-4 text-xl font-bold text-purple">Complex cases</p>
          <p class="mb-4 text-sm">
            The Complex Cases Module within Virtu’s Analytics Portal empowers
            healthcare providers to effectively manage patients with multiple,
            chronic, or rare conditions.
          </p>
        </div>
        <a class="text-base font-bold text-accentPurple" href=""
          >Learn more
          <img
            class="ml-3 inline"
            src="/assets/analytics-portal/chevron-right.svg"
            alt="Learn more"
        /></a>
      </li>
      <li
        class="mb-12 last:mb-0 lg:mb-0 lg:flex lg:flex-col lg:justify-between">
        <div>
          <p class="mb-4 text-xl font-bold text-purple">Pharmacy</p>
          <p class="mb-4 text-sm">
            The Pharmacy Module is designed to optimize medication management,
            enhance patient safety, and streamline operations in pharmacy
            settings.
          </p>
        </div>
        <a class="text-base font-bold text-accentPurple" href=""
          >Learn more
          <img
            class="ml-3 inline"
            src="/assets/analytics-portal/chevron-right.svg"
            alt="Learn more"
        /></a>
      </li>
      <li
        class="mb-12 last:mb-0 lg:mb-0 lg:flex lg:flex-col lg:justify-between">
        <div>
          <p class="mb-4 text-xl font-bold text-purple">Labs</p>
          <p class="mb-4 text-sm">
            The Labs Module provides healthcare providers with a comprehensive
            platform to manage lab tests, offering detailed information on test
            types, prescribing physicians, results, and recommended testing
            intervals.
          </p>
        </div>
        <a class="text-base font-bold text-accentPurple" href=""
          >Learn more
          <img
            class="ml-3 inline"
            src="/assets/analytics-portal/chevron-right.svg"
            alt="Learn more"
        /></a>
      </li>
      <li
        class="mb-12 last:mb-0 lg:mb-0 lg:flex lg:flex-col lg:justify-between">
        <div>
          <p class="mb-4 text-xl font-bold text-purple">Claims</p>
          <p class="mb-4 text-sm">
            The Claims Module provides a clear and detailed picture of patient
            costs, facilitating thorough financial analysis.
          </p>
        </div>
        <a class="text-base font-bold text-accentPurple" href=""
          >Learn more
          <img
            class="ml-3 inline"
            src="/assets/analytics-portal/chevron-right.svg"
            alt="Learn more"
        /></a>
      </li>
      <li
        class="mb-12 last:mb-0 lg:mb-0 lg:flex lg:flex-col lg:justify-between">
        <div>
          <p class="mb-4 text-xl font-bold text-purple">MRA</p>
          <p class="mb-4 text-sm">
            The MRA Module offers a comprehensive dashboard that provides an
            overview of MRA scores, broken down by actual scores, new and
            disenrolled patients, and the top 10 scores by primary care provider
            (PCP).
          </p>
        </div>
        <a class="text-base font-bold text-accentPurple" href=""
          >Learn more
          <img
            class="ml-3 inline"
            src="/assets/analytics-portal/chevron-right.svg"
            alt="Learn more"
        /></a>
      </li>
      <li
        class="mb-12 last:mb-0 lg:mb-0 lg:flex lg:flex-col lg:justify-between">
        <div>
          <p class="mb-4 text-xl font-bold text-purple">Revenue</p>
          <p class="mb-4 text-sm">
            The Revenue Module provides a detailed overview of your
            organization’s total revenue, segmented by line of business (LOB),
            by month, and per member per month (PMPM).
          </p>
        </div>
        <a class="text-base font-bold text-accentPurple" href=""
          >Learn more
          <img
            class="ml-3 inline"
            src="/assets/analytics-portal/chevron-right.svg"
            alt="Learn more"
        /></a>
      </li>
      <li
        class="mb-12 last:mb-0 lg:mb-0 lg:flex lg:flex-col lg:justify-between">
        <div>
          <p class="mb-4 text-xl font-bold text-purple">Reports</p>
          <p class="mb-4 text-sm">
            The Reports Module in Virtu’s Analytics Portal is your customizable
            solution for streamlined reporting.
          </p>
        </div>
        <a class="text-base font-bold text-accentPurple" href=""
          >Learn more
          <img
            class="ml-3 inline"
            src="/assets/analytics-portal/chevron-right.svg"
            alt="Learn more"
        /></a>
      </li>
    </ul>
  </div>
</article>
