<article class="virtu-container">
  <div>
    <h2 class="text-center text-2xl font-bold lg:mb-14 lg:text-3xl">
      This is what our clients say about Virtu
    </h2>
  </div>

  <ng-container *ngIf="!isDesktop; else desktopCarousel">
    <ul class="flex flex-col gap-2.5">
      <li>
        <app-feedback-card
          [name]="'Jhon Williams'"
          [photo]="'assets/feedback/person-1.png'"
          [date]="'June 3, 2024'"
          [feedback]="
            'Since adopting VIRTU, compliance has never been easier. The documentation is so thorough, and it has streamlined our audit processes significantly.'
          " />
      </li>
      <li>
        <app-feedback-card
          [name]="'Dr. Emily Harper'"
          [photo]="'assets/feedback/person-2.png'"
          [date]="'August 14, 2024'"
          [feedback]="
            'VIRTU has transformed how we manage our resources. The real-time data helps us cut down on inefficiencies.'
          " />
      </li>
      <li>
        <app-feedback-card
          [name]="'Dr. Robert Chen'"
          [photo]="'assets/feedback/person-3.png'"
          [date]="'July 27, 2024'"
          [feedback]="
            'The analytics tools are top-notch. We’ve been able to monitor key trends and improve both patient care and operational efficiency.'
          " />
      </li>
    </ul>
  </ng-container>

  <ng-template #desktopCarousel>
    <swiper-container
      class="mySwiper"
      slides-per-view="3"
      space-between="30"
      pagination="true"
      pagination-clickable="true">
      <swiper-slide>
        <app-feedback-card
          [name]="'Jhon Williams'"
          [photo]="'assets/feedback/person-1.png'"
          [date]="'June 3, 2024'"
          [feedback]="
            'Since adopting VIRTU, compliance has never been easier. The documentation is so thorough, and it has streamlined our audit processes significantly.'
          " />
      </swiper-slide>
      <swiper-slide>
        <app-feedback-card
          [name]="'Dr. Emily Harper'"
          [photo]="'assets/feedback/person-2.png'"
          [date]="'August 14, 2024'"
          [feedback]="
            'VIRTU has transformed how we manage our resources. The real-time data helps us cut down on inefficiencies.'
          " />
      </swiper-slide>
      <swiper-slide>
        <app-feedback-card
          [name]="'Dr. Robert Chen'"
          [photo]="'assets/feedback/person-3.png'"
          [date]="'July 27, 2024'"
          [feedback]="
            'The analytics tools are top-notch. We’ve been able to monitor key trends and improve both patient care and operational efficiency.'
          " />
      </swiper-slide>
    </swiper-container>
  </ng-template>
</article>
