<article class="virtu-container">
  <div>
    <h2 class="lg:text-3xl text-center text-2xl font-bold lg:mb-14">
      This is what our clients say about Virtu
    </h2>
  </div>

  <ng-container *ngIf="!isDesktop; else desktopCarousel">
    <ul class="flex flex-col gap-2.5">
      <li>
        <app-feedback-card
          [name]="'Jhon Williams'"
          [photo]="'assets/feedback/person-1.png'"
          [date]="'June 3, 2024'"
          [feedback]="
            'Since adopting VIRTU, compliance has never been easier. The documentation is so thorough, and it has streamlined our audit processes significantly.'
          " />
      </li>
      <li>
        <app-feedback-card
          [name]="'Jhon Williams'"
          [photo]="'assets/feedback/person-1.png'"
          [date]="'June 3, 2024'"
          [feedback]="
            'Since adopting VIRTU, compliance has never been easier. The documentation is so thorough, and it has streamlined our audit processes significantly.'
          " />
      </li>
      <li>
        <app-feedback-card
          [name]="'Jhon Williams'"
          [photo]="'assets/feedback/person-1.png'"
          [date]="'June 3, 2024'"
          [feedback]="
            'Since adopting VIRTU, compliance has never been easier. The documentation is so thorough, and it has streamlined our audit processes significantly.'
          " />
      </li>
    </ul>
  </ng-container>

  <ng-template #desktopCarousel>
    <swiper-container
      class="mySwiper"
      slides-per-view="3"
      space-between="30"
      pagination="true"
      pagination-clickable="true">
      <swiper-slide>
        <app-feedback-card
          [name]="'Jhon Williams'"
          [photo]="'assets/feedback/person-1.png'"
          [date]="'June 3, 2024'"
          [feedback]="
            'Since adopting VIRTU, compliance has never been easier. The documentation is so thorough, and it has streamlined our audit processes significantly.'
          " />
      </swiper-slide>
      <swiper-slide>
        <app-feedback-card
          [name]="'Jhon Williams'"
          [photo]="'assets/feedback/person-1.png'"
          [date]="'June 3, 2024'"
          [feedback]="
            'Since adopting VIRTU, compliance has never been easier. The documentation is so thorough, and it has streamlined our audit processes significantly.'
          " />
      </swiper-slide>
      <swiper-slide>
        <app-feedback-card
          [name]="'Jhon Williams'"
          [photo]="'assets/feedback/person-1.png'"
          [date]="'June 3, 2024'"
          [feedback]="
            'Since adopting VIRTU, compliance has never been easier. The documentation is so thorough, and it has streamlined our audit processes significantly.'
          " />
      </swiper-slide>
      <swiper-slide>
        <app-feedback-card
          [name]="'Jhon Williams'"
          [photo]="'assets/feedback/person-1.png'"
          [date]="'June 3, 2024'"
          [feedback]="
            'Since adopting VIRTU, compliance has never been easier. The documentation is so thorough, and it has streamlined our audit processes significantly.'
          " />
      </swiper-slide>
    </swiper-container>
  </ng-template>
</article>
