<article class="virtu-container">
  <div class="mb-5">
    <h2 class="text-2xl font-bold">
      Discover Tailored Solutions for Every Healthcare Organization
    </h2>
  </div>
  <div class="mb-5">
    <img src="/assets/home/info/info-1.png" alt="Doctors" />
  </div>
  <div class="mb-5">
    <p class="text-sm">
      Whether you're part of an Accountable Care Organization, hospital system,
      or physician group, VIRTU has the tools to help you streamline operations,
      improve patient outcomes, and drive efficiency. Explore our customized
      solutions for your industry and see how we can transform the way you
      manage care.
    </p>
  </div>
  <div>
    <a class="text-accentPurple font-bold" href=""
      >Click here to find out how VIRTU can power your success.</a
    >
  </div>
</article>
