<main class="py-5 lg:mx-auto lg:max-w-[992px]">
  <section class="virtu-container mb-24">
    <p class="mb-4 text-sm uppercase">Analytics portal</p>
    <h1 class="mb-8 text-4xl font-bold">Labs module</h1>
    <p class="mb-5 text-base">
      The Labs Module provides healthcare providers with a comprehensive
      platform to manage lab tests, offering detailed information on test types,
      prescribing physicians, results, and recommended testing intervals. By
      offering a complete history of patient lab results, the module enables
      data-driven decision-making and enhances overall patient care.
    </p>
    <p class="mb-5 text-base">
      Laboratory data is a critical resource in optimizing population health
      management and achieving Value-Based Care objectives. Virtu-Lab reports
      empower healthcare organizations and systems to identify high-risk
      patients and develop more effective clinical strategies.
    </p>
    <p class="text-base">
      By leveraging this trusted source of lab data, Virtu’s Labs Module
      enhances healthcare delivery through its comprehensive reporting and
      analytics platform, designed to pinpoint high-risk patients and improve
      clinical outcomes.
    </p>
  </section>

  <section class="virtu-container mb-24">
    <h2 class="mb-10 text-2xl font-bold lg:text-3xl">Main benefits</h2>
    <ul>
      <li class="mb-8">
        <p class="text-sm lg:text-base">
          <span class="text-sm font-bold lg:text-base"
            >• Optimize Population Health Management:</span
          >
          Leverage lab data to effectively manage high-risk populations,
          including patients with conditions like diabetes, chronic kidney
          disease, and cardiovascular disease.
        </p>
      </li>
      <li class="mb-8">
        <p class="text-sm lg:text-base">
          <span class="text-sm font-bold lg:text-base"
            >• Access Comprehensive Patient Data:</span
          >
          View a complete history of lab results to make informed decisions that
          improve patient care by analyzing both past and present test outcomes.
        </p>
      </li>
      <li class="mb-8">
        <p class="text-sm lg:text-base">
          <span class="text-sm font-bold lg:text-base"
            >• Align with Value-Based Care Goals:</span
          >
          Use lab data to enhance patient care strategies, supporting the
          achievement of Value-Based Care objectives.
        </p>
      </li>
      <li class="mb-8">
        <p class="text-sm lg:text-base">
          <span class="text-sm font-bold lg:text-base"
            >• Minimize Duplicate Testing:</span
          >
          Detect unnecessary duplicate tests and make adjustments following
          national guidelines, reducing costs and improving efficiency.
        </p>
      </li>
    </ul>
  </section>

  <section class="virtu-container mb-24">
    <h2 class="mb-24 text-center text-3xl font-bold">Key features</h2>
    <ul class="lg:grid lg:grid-cols-2 lg:gap-x-14 lg:gap-y-5">
      <li class="mb-4 lg:mb-0">
        <app-key-feature
          [title]="'Duplicate/Repeat Testing Patterns'"
          [description]="
            'Identifies unnecessary duplicate testing of commonly ordered tests, providing recommendations for streamlining based on national guidelines.'
          " />
      </li>
      <li class="mb-4 lg:mb-0">
        <app-key-feature
          [title]="'Chronic Condition Monitoring'"
          [description]="
            'Pinpoints gaps in care for patients with chronic conditions like Diabetes, Chronic Kidney Disease, and Cardiovascular Disease.'
          " />
      </li>
      <li class="mb-4 lg:mb-0">
        <app-key-feature
          [title]="'Specialized Test Reports'"
          [description]="
            'Identifies testing discrepancies, such as ordering the wrong type of Vitamin D or H. pylori tests, helping to align with best practices.'
          " />
      </li>
      <li class="mb-4 lg:mb-0">
        <app-key-feature
          [title]="'Thyroid Cascade Report'"
          [description]="
            'Highlights potential savings by identifying when physicians are ordering concurrent tests instead of cascade testing, reducing costs and improving efficiency.'
          " />
      </li>
    </ul>
  </section>

  <section>
    <article class="virtu-container">
      <p class="mb-6 text-center text-lg font-bold lg:px-28 lg:text-xl">
        Maximize the power of lab data and drive better clinical outcomes with
        our Labs Module. Schedule a demo today and see how Virtu Medical can
        enhance your practice’s efficiency and patient care.
      </p>
      <div class="flex justify-center">
        <a class="primary-button" [routerLink]="['/contact-us']">
          Request a demo today
        </a>
      </div>
    </article>
  </section>
</main>
