<article class="pl-5">
  <div class="virtu-container mb-5 lg:mb-20">
    <p class="text-sm lg:px-32 lg:text-center lg:text-base">
      VIRTU addresses Medical Centers’ challenges head-on with a suite of
      integrated solutions designed to streamline operations, improve patient
      care, and enhance decision making. Our platform, including the Analytics
      portal and several add-on packages, offers:
    </p>
  </div>

  <ng-container *ngIf="!isDesktop; else desktopGrid">
    <swiper-container
      class="mySwiper"
      space-between="30"
      slides-per-view="auto"
      pagination="true"
      pagination-clickable="true">
      <swiper-slide>
        <app-features-card
          [title]="'Optimized Operations'"
          [description]="
            'VIRTU streamlines workflows by automating routine tasks and integrating various systems, reducing bottlenecks and increasing overall efficiency in daily operations.'
          " />
      </swiper-slide>
      <swiper-slide>
        <app-features-card
          [title]="'Unified Data and Insights'"
          [description]="
            'VIRTU consolidates data from various sources into a single, comprehensive platform. This unified view enables medical centers to access real-time insights, track key metrics, and make informed decisions that improve patient care and operational performance.'
          " />
      </swiper-slide>
      <swiper-slide>
        <app-features-card
          [title]="'Regulatory Compliance Assurance'"
          [description]="
            'VIRTU’s robust documentation and tracking capabilities ensure that all processes adhere to healthcare regulations. The platform provides areliable record of all patientinteractions and operational activities,reducing the risk of non-complianceand simplifying audit processes.'
          " />
      </swiper-slide>
      <swiper-slide>
        <app-features-card
          [title]="'Efficient Resource Management'"
          [description]="
            'VIRTU optimizes resource allocation by providing tools to manage staff, equipment, and facilities effectively. Real-time data on resource utilization helps medical centers reduce costs, improve efficiency, and ensure that resources are used where they are most needed.'
          " />
      </swiper-slide>
      <swiper-slide>
        <app-features-card
          [title]="'Comprehensive Reporting and Analytics'"
          [description]="
            'VIRTU offers advanced reporting and analytics capabilities that provide medical centers with detailed insights into their performance. These tools help identify trends, monitor key performance indicators, and drive continuous improvement in both clinical and operational areas.'
          " />
      </swiper-slide>
      <swiper-slide>
        <app-features-card
          [title]="'Scalable Solutions for Growing Operations'"
          [description]="
            'VIRTU is designed to scale with medical centers as they grow, accommodating larger patient populations and more complex workflows without compromising the quality of care. The platform’s flexibility ensures that it can meet the evolving needs of any healthcare organization.'
          " />
      </swiper-slide>
    </swiper-container>
  </ng-container>

  <ng-template #desktopGrid>
    <img
      class="absolute left-0 -z-10"
      src="assets/home/background.png"
      alt="" />
    <div class="grid grid-cols-3 gap-2.5">
      <app-features-card
        [title]="'Optimized Operations'"
        [description]="
          'VIRTU streamlines workflows by automating routine tasks and integrating various systems, reducing bottlenecks and increasing overall efficiency in daily operations.'
        " />
      <app-features-card
        [title]="'Unified Data and Insights'"
        [description]="
          'VIRTU consolidates data from various sources into a single, comprehensive platform. This unified view enables medical centers to access real-time insights, track key metrics, and make informed decisions that improve patient care and operational performance.'
        " />
      <app-features-card
        [title]="'Regulatory Compliance Assurance'"
        [description]="
          'VIRTU’s robust documentation and tracking capabilities ensure that all processes adhere to healthcare regulations. The platform provides areliable record of all patientinteractions and operational activities,reducing the risk of non-complianceand simplifying audit processes.'
        " />
      <app-features-card
        [title]="'Efficient Resource Management'"
        [description]="
          'VIRTU optimizes resource allocation by providing tools to manage staff, equipment, and facilities effectively. Real-time data on resource utilization helps medical centers reduce costs, improve efficiency, and ensure that resources are used where they are most needed.'
        " />
      <app-features-card
        [title]="'Comprehensive Reporting and Analytics'"
        [description]="
          'VIRTU offers advanced reporting and analytics capabilities that provide medical centers with detailed insights into their performance. These tools help identify trends, monitor key performance indicators, and drive continuous improvement in both clinical and operational areas.'
        " />
      <app-features-card
        [title]="'Scalable Solutions for Growing Operations'"
        [description]="
          'VIRTU is designed to scale with medical centers as they grow, accommodating larger patient populations and more complex workflows without compromising the quality of care. The platform’s flexibility ensures that it can meet the evolving needs of any healthcare organization.'
        " />
    </div>
  </ng-template>
</article>
