<article class="pl-5">
  <swiper-container
    class="mySwiper"
    space-between="30"
    slides-per-view="auto"
    pagination="true"
    pagination-clickable="true">
    <swiper-slide>
      <app-features-card
        [title]="'Analytics Portal'"
        [description]="
          'Our Analytics Portal is your command center for healthcare management, providing a comprehensive view of your operations through the following powerful modules.'
        " />
    </swiper-slide>
    <swiper-slide>
      <app-features-card
        [title]="'Analytics Portal'"
        [description]="
          'Our Analytics Portal is your command center for healthcare management, providing a comprehensive view of your operations through the following powerful modules.'
        " />
    </swiper-slide>
    <swiper-slide>
      <app-features-card
        [title]="'Analytics Portal'"
        [description]="
          'Our Analytics Portal is your command center for healthcare management, providing a comprehensive view of your operations through the following powerful modules.'
        " />
    </swiper-slide>
  </swiper-container>
</article>
