<article *ngIf="!isDesktop; else desktopCard" class="virtu-card">
  <div class="mb-5">
    <h2 class="text-lg font-bold">{{ title }}</h2>
  </div>
  <div class="mb-5">
    <img class="rounded-3xl" [src]="image" [alt]="title" />
  </div>
  <div class="mb-5">
    <p class="text-sm">
      {{ description }}
    </p>
  </div>
</article>

<ng-template #desktopCard>
  <article
    class="virtu-card flex items-center justify-between gap-8 !shadow-none lg:px-16">
    <div>
      <img class="rounded-3xl" [src]="image" [alt]="title" />
    </div>
    <div>
      <div class="mb-5">
        <h2 class="text-lg font-bold lg:text-xl">{{ title }}</h2>
      </div>
      <div class="flex items-center gap-8">
        <div>
          <div>
            <p class="text-sm lg:text-base">
              {{ description }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </article>
</ng-template>
