<main class="py-5 lg:mx-auto lg:max-w-[992px]">
  <section class="virtu-container mb-24">
    <app-banner
      [title]="
        'Revolutionizing Healthcare with Personalized, Data-Driven Solutions'
      "
      [image]="'assets/about-us/banner.png'" />
  </section>

  <section class="virtu-container mb-24">
    <h2 class="mb-4 text-center text-2xl font-bold lg:text-start lg:text-3xl">
      About Us
    </h2>
    <p class="mb-4 text-sm lg:text-base">
      With over 17 years of experience in creating, developing, and managing
      complex IT architecture and relational database systems, Virtu Medical is
      at the forefront of healthcare technology. We specialize in providing
      comprehensive IT solutions designed specifically for the healthcare
      industry, empowering organizations to manage patient care more
      efficiently.
    </p>
    <p class="mb-4 text-sm lg:text-base">
      Our extensive expertise spans across managed care, including finance,
      physician risk modeling, analytics, operations management, financial
      underwriting, payment processing, revenue and cost reconciliation systems,
      and complex data integration.
    </p>
    <p class="mb-4 text-sm lg:text-base">
      Through Virtu Medical, we are committed to delivering cutting-edge
      solutions that streamline operations and improve outcomes for both
      patients and providers.
    </p>
  </section>

  <section class="virtu-container mb-24">
    <div
      class="bg-lightGreen mb-10 rounded-2xl px-7 py-12 lg:flex lg:items-center lg:px-12">
      <h2 class="mb-4 text-xl font-bold lg:mb-0 lg:w-1/3">Our Mission</h2>
      <p class="text-sm lg:w-2/3 lg:text-base">
        To harness universal health and wellness data and transform it into
        actionable insights that empower healthcare providers to optimize
        patient care and improve health management.
      </p>
    </div>

    <div
      class="bg-lightPurple2 rounded-2xl px-7 py-12 lg:flex lg:items-center lg:px-12">
      <h2 class="mb-4 text-xl font-bold lg:mb-0 lg:w-1/3">Our Mission</h2>
      <p class="text-sm lg:w-2/3 lg:text-base">
        To revolutionize the healthcare industry by becoming the leading
        provider of intuitive, user-friendly solutions that are tailored to the
        needs of both patients and healthcare providers. At Virtu Medical, we
        envision a future where personalized healthcare technology transforms
        patient outcomes and sets new standards in care.
      </p>
    </div>
  </section>

  <section class="virtu-container mb-24">
    <p class="mb-4 text-center text-sm uppercase">Our team</p>
    <h2 class="mb-16 text-center text-2xl font-bold">Meet our leadership</h2>

    <ul class="lg:flex lg:justify-between lg:gap-10">
      <li class="mb-5 lg:mb-0 lg:w-1/3">
        <app-avatar
          [image]="'assets/about-us/avatar-1.png'"
          [name]="'Mohamad Kamaredine'"
          [role]="'Mohamad Kamaredine'"
          [description]="
            'Mohamad Kamaredine has a proven executive management track record and over 17 years of experience driving sales growth in the technology industry. Working in the healthcare industry for 15 years, Mr. Kamaredine helped assist large healthcare organizations in becoming HIPAA compliant, establishing policies and procedures, and creating a robust data security infrastructure focused on protecting patient data.'
          " />
      </li>
      <li class="mb-5 lg:mb-0 lg:w-1/3">
        <app-avatar
          [image]="'assets/about-us/avatar-2.png'"
          [name]="'Mohamad Kamaredine'"
          [role]="'Mohamad Kamaredine'"
          [description]="
            'Mohamad Kamaredine has a proven executive management track record and over 17 years of experience driving sales growth in the technology industry. Working in the healthcare industry for 15 years, Mr. Kamaredine helped assist large healthcare organizations in becoming HIPAA compliant, establishing policies and procedures, and creating a robust data security infrastructure focused on protecting patient data. Mr. Kamaredine has an Executive Certificate in Management and Leadership from MIT, Sloan School of Management and currently Pursuing his Master’s in Business Administration specializing in Data Science.'
          " />
      </li>
      <li class="lg:w-1/3">
        <app-avatar
          [image]="'assets/about-us/avatar-3.png'"
          [name]="'Mohamad Kamaredine'"
          [role]="'Mohamad Kamaredine'"
          [description]="
            'Mohamad Kamaredine has a proven executive management track record and over 17 years of experience driving sales growth in the technology industry. Working in the healthcare industry for 15 years, Mr. Kamaredine helped assist large healthcare organizations in becoming HIPAA compliant, establishing policies and procedures, and creating a robust data security infrastructure focused on protecting patient data. Mr. Kamaredine has an Executive Certificate in Management and Leadership from MIT, Sloan School of Management and currently Pursuing his Master’s in Business Administration specializing in Data Science.'
          " />
      </li>
    </ul>
  </section>
</main>
