<main class="py-5 lg:mx-auto lg:max-w-[992px]">
  <section class="mb-24">
    <app-banner
      [title]="
        'Revolutionizing Healthcare with Personalized, Data-Driven Solutions'
      "
      [image]="'assets/about-us/banner.png'" />
  </section>

  <section class="mb-24">
    <article class="virtu-container">
      <h2 class="mb-4 text-center text-2xl font-bold lg:text-start lg:text-3xl">
        About Us
      </h2>
      <p class="mb-4 text-sm lg:text-base">
        With over 17 years of experience in creating, developing, and managing
        complex IT architecture and relational database systems, Virtu Medical
        is at the forefront of healthcare technology. We specialize in providing
        comprehensive IT solutions designed specifically for the healthcare
        industry, empowering organizations to manage patient care more
        efficiently.
      </p>
      <p class="mb-4 text-sm lg:text-base">
        Our extensive expertise spans across managed care, including finance,
        physician risk modeling, analytics, operations management, financial
        underwriting, payment processing, revenue and cost reconciliation
        systems, and complex data integration.
      </p>
      <p class="mb-4 text-sm lg:text-base">
        Through Virtu Medical, we are committed to delivering cutting-edge
        solutions that streamline operations and improve outcomes for both
        patients and providers.
      </p>
    </article>
  </section>

  <section class="mb-24">
    <article class="virtu-container">
      <div
        class="mb-10 rounded-2xl bg-lightGreen px-7 py-12 lg:flex lg:items-center lg:px-12">
        <h2 class="mb-4 text-xl font-bold lg:mb-0 lg:w-1/3">Our Mission</h2>
        <p class="text-sm lg:w-2/3 lg:text-base">
          To harness universal health and wellness data and transform it into
          actionable insights that empower healthcare providers to optimize
          patient care and improve health management.
        </p>
      </div>

      <div
        class="rounded-2xl bg-lightPurple2 px-7 py-12 lg:flex lg:items-center lg:px-12">
        <h2 class="mb-4 text-xl font-bold lg:mb-0 lg:w-1/3">Our Mission</h2>
        <p class="text-sm lg:w-2/3 lg:text-base">
          To revolutionize the healthcare industry by becoming the leading
          provider of intuitive, user-friendly solutions that are tailored to
          the needs of both patients and healthcare providers. At Virtu Medical,
          we envision a future where personalized healthcare technology
          transforms patient outcomes and sets new standards in care.
        </p>
      </div>
    </article>
  </section>

  <section class="mb-24">
    <article class="virtu-container">
      <p class="mb-4 text-center text-sm uppercase">Our team</p>
      <h2 class="mb-16 text-center text-2xl font-bold">Meet our leadership</h2>

      <ul class="lg:flex lg:justify-between lg:gap-10">
        <li class="mb-5 lg:mb-0 lg:w-1/3">
          <app-avatar
            [image]="'assets/about-us/avatar-1.png'"
            [name]="'Mohamad Kamaredine'"
            [role]="'CEO and Founder'"
            [description]="
              'Mr. Kamaredine has a proven executive management track record and over 17 years of experience driving sales growth in the technology industry. Working in the healthcare industry for 15 years, Mr. Kamaredine helped large healthcare organizations become HIPAA compliant, establish policies and procedures, and create a robust data security infrastructure focused on protecting patient data. The work in healthcare Data became so significant that Mr. Kamaredine decided to create Virtu Medical. Mr. Kamaredine has an Executive Certificate in Management and Leadership from MIT, Sloan School of Management, and is currently pursuing his Master’s in Business Administration specializing in Data Science.'
            " />
        </li>
        <li class="mb-5 lg:mb-0 lg:w-1/3">
          <app-avatar
            [image]="'assets/about-us/avatar-2.png'"
            [name]="'Mourad Mourad'"
            [role]="'Senior Software Engineering Manager'"
            [description]="
              'Mourad is a software engineer with 17+ years of experience in building software applications. He graduated from Florida International University with Ph.D. in Electrical Engineering, a master’s degree, and a bachelor’s degree in Computer Engineering.After working as a Software Engineer for Beckman Coulter (4 years) and Microsoft (11 years), Mourad joined Virtu Medical to lead the Software Development Team. He has strong knowledge and experience with Microsoft Stack, including SQL Server, C#, Asp.Net Core, and the full software development lifecycle from the design through coding and testing to release and maintenance.'
            " />
        </li>
        <li class="lg:w-1/3">
          <app-avatar
            [image]="'assets/about-us/avatar-3.png'"
            [name]="'Hamid Zemirline'"
            [role]="'Data Architect/Data Engineer'"
            [description]="
              'Dr. Zemirline has worked in the medical and utility industries for 15+ years. He designed a comprehensive architecture for a software solution and provided strategic direction throughout the development process. Implemented end-to-end Data / IA architecture on Cloud and On-premise. Dr. Zemirline has worked for BIG DATA TRAINER, imparting training in the extensive data ecosystem Hadoop, NoSQL, Machine Learning, and Data Visualization. Dr. Zemirline holds a Ph.D. in Machine Learning specializing in Medical Data Analytics from IMT Atlantique in France and an M.S. in computer science.'
            " />
        </li>
        <li class="lg:w-1/3">
          <app-avatar
            [image]="'assets/about-us/avatar-3.png'"
            [name]="'Vlad Friedman'"
            [role]="'CTO'"
            [description]="
              'Vlad is a seasoned IT veteran with over 25 years of mission-critical IT experience. Mr. Friedman joined the DataBank leadership team as Chief Technology Officer in 2017 with the acquisition of Edge Hosting. In his role as DataBank’s CTO, Vlad guides the direction for the development, implementation, and management of the company’s overall technology strategies. Prior to DataBank, Mr. Friedman founded Edge Hosting, a compliance-driven IaaS and PaaS Managed Cloud Hosting service provider. He did so in 1998 as a spin-off from his first IT venture, ACS, which was started while he was still a student at the University of Maryland.'
            " />
        </li>
      </ul>
    </article>
  </section>
</main>
