<main class="py-5 lg:mx-auto lg:max-w-[992px]">
  <section class="mb-24">
    <app-feature-banner
      [title]="'Value-Based Care Providers'"
      [description]="[
        'Value-Based Care Providers face the challenge of delivering high-quality care while controlling costs and improving patient outcomes.',
        'The Virtu platform offers integrated tools designed to support the unique needs of value-based care, from data-driven insights to personalized care management, helping providers meet their goals and improve patient satisfaction.',
      ]"
      [image]="'assets/industries/value-based.png'" />
  </section>

  <section class="virtu-container mb-24">
    <h2 class="mb-24 text-center text-3xl font-bold">
      Virtu Modules Best Suited for Value-Based Care Providers
    </h2>
    <ul class="lg:grid lg:grid-cols-2 lg:gap-x-14 lg:gap-y-5">
      <li class="mb-4 lg:mb-0">
        <app-key-feature
          [title]="'Membership Module'"
          [description]="
            'Manage patient populations efficiently, track engagement, and ensure comprehensive care for at-risk groups.'
          " />
      </li>
      <li class="mb-4 lg:mb-0">
        <app-key-feature
          [title]="'Claims Module'"
          [description]="
            'Gain real-time insights into claims data, enabling better financial decisions and cost control.'
          " />
      </li>
      <li class="mb-4 lg:mb-0">
        <app-key-feature
          [title]="'Labs Module'"
          [description]="
            'Track lab results and identify trends in patient health, ensuring timely interventions for those in need.'
          " />
      </li>
      <li class="mb-4 lg:mb-0">
        <app-key-feature
          [title]="'Revenue Module'"
          [description]="
            'Manage financial performance and monitor the effectiveness of cost-saving initiatives.'
          " />
      </li>
      <li class="mb-4 lg:mb-0">
        <app-key-feature
          [title]="'Patient Outreach Portal'"
          [description]="
            'Keep patients engaged with proactive care reminders, leading to improved health outcomes.'
          " />
      </li>
    </ul>
  </section>

  <section class="virtu-container mb-24">
    <h2 class="mb-10 text-2xl font-bold lg:text-3xl">Key benefits</h2>
    <ul>
      <li class="mb-8">
        <p class="text-sm lg:text-base">
          <span class="text-sm font-bold lg:text-base">
            • Improved Patient Outcomes:
          </span>
          Using predictive analytics, the platform helps providers intervene
          earlier and more effectively, reducing complications and improving
          overall patient health.
        </p>
      </li>

      <li class="mb-8">
        <p class="text-sm lg:text-base">
          <span class="text-sm font-bold lg:text-base">
            • Cost Reduction:
          </span>
          The Virtu platform supports optimized treatment plans and resource
          allocation, leading to more efficient use of healthcare resources.
        </p>
      </li>

      <li class="mb-8">
        <p class="text-sm lg:text-base">
          <span class="text-sm font-bold lg:text-base">
            • Enhanced Patient Engagement:
          </span>
          Automated outreach ensures that patients stay on track with their
          care, improving adherence and reducing readmissions.
        </p>
      </li>

      <li class="mb-8">
        <p class="text-sm lg:text-base">
          <span class="text-sm font-bold lg:text-base">
            • Better Financial Performance:
          </span>
          Real-time analytics help providers manage costs while maximizing the
          value of care delivered.
        </p>
      </li>
    </ul>
  </section>

  <section class="virtu-container mb-24">
    <h2 class="text-center text-3xl font-bold">Use Cases</h2>

    <article>
      <div>
        <h3 class="mb-9 text-sm font-bold">
          Enhancing Patient Outcomes While Reducing Costs
        </h3>
        <p class="mb-8 text-sm">
          A value-based care provider is tasked with managing a diverse patient
          population with chronic conditions like diabetes and heart disease.
          Using the Virtu platform's comprehensive analytics tools, the provider
          identifies high-risk patients who are not adhering to treatment plans.
        </p>
        <p class="text-sm">
          Through the Patient Outreach Portal, they set up automated reminders
          for medication, follow-ups, and wellness checks, resulting in a 20%
          increase in adherence rates and a significant reduction in hospital
          readmissions, ultimately lowering healthcare costs.
        </p>
      </div>
    </article>
  </section>

  <section>
    <article class="virtu-container">
      <p class="mb-6 text-center text-lg font-bold lg:px-28 lg:text-xl">
        Start transforming your value-based care model with Virtu. Request a
        demo today to see how our platform can help you deliver better patient
        outcomes and cost savings.
      </p>
      <div class="flex justify-center">
        <a class="primary-button" [routerLink]="['/contact-us']"
          >Request a demo today</a
        >
      </div>
    </article>
  </section>
</main>
