<main class="py-5 lg:mx-auto lg:max-w-[992px]">
  <section class="mb-24">
    <app-feature-banner
      [title]="'Medicare/Medicaid Payers'"
      [description]="[
        'Medicare and Medicaid payers operate in a complex environment where balancing compliance, cost-efficiency, and quality care is crucial.',
        'Virtu equips payers with the tools to analyze claims data, monitor healthcare provider performance, and ensure regulatory adherence, allowing them to optimize care while managing costs and improving outcomes for beneficiaries.',
      ]"
      [image]="'assets/industries/medicare.png'" />
  </section>

  <section class="virtu-container mb-24">
    <h2 class="mb-24 text-center text-3xl font-bold">
      Virtu Modules Best Suited for Medicare/Medicaid Payers
    </h2>
    <ul class="lg:grid lg:grid-cols-2 lg:gap-x-14 lg:gap-y-5">
      <li class="mb-4 lg:mb-0">
        <app-key-feature
          [title]="'Claims Module'"
          [description]="
            'Analyze and manage claims data efficiently to detect irregularities, ensure accurate payments, and control costs.'
          " />
      </li>
      <li class="mb-4 lg:mb-0">
        <app-key-feature
          [title]="'MRA Module'"
          [description]="
            'Streamline Medicare Risk Adjustment processes, ensuring compliance with regulatory requirements and improving risk score accuracy.'
          " />
      </li>
      <li class="mb-4 lg:mb-0">
        <app-key-feature
          [title]="'Reports Module'"
          [description]="
            'Generate detailed reports on provider performance, claims trends, and patient demographics to support decision-making and compliance efforts.'
          " />
      </li>
      <li class="mb-4 lg:mb-0">
        <app-key-feature
          [title]="'Revenue Module'"
          [description]="
            'Monitor financial performance and track cost-saving initiatives to ensure fiscal responsibility.'
          " />
      </li>
      <li class="mb-4 lg:mb-0">
        <app-key-feature
          [title]="'Patient Outreach Portal'"
          [description]="
            'Keep beneficiaries informed and engaged with proactive communication about care plans, wellness checks, and eligibility updates.'
          " />
      </li>
    </ul>
  </section>

  <section class="virtu-container mb-24">
    <h2 class="mb-10 text-2xl font-bold lg:text-3xl">Key benefits</h2>
    <ul>
      <li class="mb-8">
        <p class="text-sm lg:text-base">
          <span class="text-sm font-bold lg:text-base">
            • Cost Control and Fraud Detection:
          </span>
          Identify fraudulent activity and reduce unnecessary payments with
          real-time claims analysis.
        </p>
      </li>

      <li class="mb-8">
        <p class="text-sm lg:text-base">
          <span class="text-sm font-bold lg:text-base">
            • Regulatory Compliance:
          </span>
          Use Virtu's automated reporting and compliance tools to streamline
          processes for meeting Medicare/Medicaid guidelines.
        </p>
      </li>

      <li class="mb-8">
        <p class="text-sm lg:text-base">
          <span class="text-sm font-bold lg:text-base">
            • Improved Provider Accountability:
          </span>
          Track and analyze healthcare provider performance to ensure quality
          care is being delivered while controlling costs.
        </p>
      </li>

      <li class="mb-8">
        <p class="text-sm lg:text-base">
          <span class="text-sm font-bold lg:text-base">
            • Enhanced Beneficiary Engagement:
          </span>
          Engage patients with automated reminders and wellness programs to
          improve health outcomes and reduce care costs.
        </p>
      </li>
    </ul>
  </section>

  <section class="virtu-container mb-24">
    <h2 class="text-center text-3xl font-bold">Use Cases</h2>

    <article>
      <div>
        <h3 class="mb-9 text-sm font-bold">
          Reducing Fraud and Improving Compliance
        </h3>
        <p class="mb-8 text-sm">
          A Medicaid payer identifies irregularities in claims submitted by
          certain healthcare providers. Using Virtu's Claims Module, they run
          real-time audits and discover over-prescriptions of controlled
          substances and duplicate claims for services.
        </p>
        <p class="text-sm">
          The payer alerts providers through the system, leading to corrective
          actions and a 15% reduction in fraudulent claims, saving millions in
          unnecessary payments.
        </p>
      </div>
    </article>
  </section>

  <section>
    <article class="virtu-container">
      <p class="mb-6 text-center text-lg font-bold lg:px-28 lg:text-xl">
        Take control of your claims management and compliance with Virtu.
        Request a demo today to see how our platform can enhance your operations
        and drive better outcomes for your beneficiaries.
      </p>
      <div class="flex justify-center">
        <button class="primary-button">Request a demo today</button>
      </div>
    </article>
  </section>
</main>
