<footer class="bg-primary p-5">
  <div class="mb-20 flex justify-center">
    <img src="/assets/virtu-2.svg" alt="Virtu" />
  </div>

  <div class="mb-20 flex justify-center">
    <nav>
      <ul class="flex gap-4">
        <li>
          <a href="">
            <img src="/assets/instagram.svg" alt="Instagram" />
          </a>
        </li>
        <li>
          <a href="">
            <img src="/assets/whatsapp.svg" alt="WhatsApp" />
          </a>
        </li>
        <li>
          <a href="">
            <img src="/assets/linkedin.svg" alt="LinkedIn" />
          </a>
        </li>
        <li>
          <a href="">
            <img src="/assets/youtube.svg" alt="YouTube" />
          </a>
        </li>
      </ul>
    </nav>
  </div>

  <div></div>

  <div class="mb-28 px-5">
    <nav class="flex justify-between">
      <ul class="flex flex-col gap-5">
        <li class="flex">
          <a class="border-b border-white pb-1 text-white" href="">Home</a>
        </li>
        <li class="flex">
          <a class="border-b border-white pb-1 text-white" href="">Solutions</a>
        </li>
        <li class="flex">
          <a class="border-b border-white pb-1 text-white" href=""
            >Transportation</a
          >
        </li>
        <li class="flex">
          <a class="border-b border-white pb-1 text-white" href="">Home</a>
        </li>
      </ul>
      <ul class="flex flex-col gap-5">
        <li class="flex">
          <a class="border-b border-white pb-1 text-white" href="">Home</a>
        </li>
        <li class="flex">
          <a class="border-b border-white pb-1 text-white" href="">Home</a>
        </li>
        <li class="flex">
          <a class="border-b border-white pb-1 text-white" href=""
            >Contact us</a
          >
        </li>
      </ul>
    </nav>
  </div>

  <div>
    <p class="text-center text-sm text-white">
      © 2022 Virtu Medical. All rights reserved.
    </p>
  </div>
</footer>
