<footer class="bg-primary p-5">
  <div class="lg:mx-auto lg:max-w-[992px]">
    <div class="mb-20 flex justify-center lg:justify-normal">
      <img src="assets/virtu-2.svg" alt="Virtu" />
    </div>

    <div class="lg:mb-28 lg:flex lg:justify-between">
      <div>
        <div class="mb-16 flex justify-center lg:justify-normal">
          <nav>
            <ul class="flex gap-4">
              <li>
                <a
                  href="https://www.instagram.com/virtumedical/"
                  target="_blank">
                  <img src="assets/instagram.svg" alt="Instagram" />
                </a>
              </li>
              <li>
                <a
                  href="https://www.linkedin.com/company/virtu-medical/"
                  target="_blank">
                  <img src="assets/linkedin.svg" alt="LinkedIn" />
                </a>
              </li>
              <li>
                <a
                  href="https://www.facebook.com/people/Virtu-Medical/61560454653712/"
                  target="_blank">
                  <img src="assets/youtube.svg" alt="Facebook" />
                </a>
              </li>
            </ul>
          </nav>
        </div>

        <div class="hidden lg:block">
          <nav class="flex justify-between gap-16">
            <ul class="flex flex-col gap-5">
              <li class="flex">
                <a
                  class="border-b border-white pb-1 text-white"
                  [routerLink]="['']"
                  >Home</a
                >
              </li>
              <li class="flex">
                <a
                  class="border-b border-white pb-1 text-white"
                  [routerLink]="['/solutions']"
                  >Solutions</a
                >
              </li>
              <li class="flex">
                <a
                  class="border-b border-white pb-1 text-white"
                  [routerLink]="['/industries']"
                  >Industries</a
                >
              </li>
              <li class="flex">
                <a
                  class="border-b border-white pb-1 text-white"
                  [routerLink]="['/about-us']"
                  >About us</a
                >
              </li>
            </ul>
            <ul class="flex flex-col gap-5">
              <li class="flex">
                <a
                  class="border-b border-white pb-1 text-white"
                  [routerLink]="['/resources']"
                  >Resources</a
                >
              </li>
              <li class="flex">
                <a
                  class="border-b border-white pb-1 text-white"
                  [routerLink]="['/contact-us']"
                  >Contact us</a
                >
              </li>
              <li class="flex">
                <a
                  class="border-b border-white pb-1 text-white"
                  [routerLink]="['/contact-us']"
                  >User portal</a
                >
              </li>
            </ul>
          </nav>
        </div>
      </div>

      <div class="mb-16 lg:mb-0 lg:max-w-[424px]">
        <h2
          class="mb-6 text-center text-2xl font-bold text-white lg:text-start">
          Contact Us
        </h2>
        <app-contact-us-form />
      </div>
    </div>

    <div class="mb-28 px-5 lg:hidden">
      <nav class="flex justify-between">
        <ul class="flex flex-col gap-5">
          <li class="flex">
            <a class="border-b border-white pb-1 text-white" [routerLink]="['']"
              >Home</a
            >
          </li>
          <li class="flex">
            <a
              class="border-b border-white pb-1 text-white"
              [routerLink]="['/solutions']"
              >Solutions</a
            >
          </li>
          <li class="flex">
            <a
              class="border-b border-white pb-1 text-white"
              [routerLink]="['/industries']"
              >Industries</a
            >
          </li>
          <li class="flex">
            <a
              class="border-b border-white pb-1 text-white"
              [routerLink]="['/about-us']"
              >About us</a
            >
          </li>
        </ul>
        <ul class="flex flex-col gap-5">
          <li class="flex">
            <a
              class="border-b border-white pb-1 text-white"
              [routerLink]="['/resources']"
              >Resources</a
            >
          </li>
          <li class="flex">
            <a
              class="border-b border-white pb-1 text-white"
              [routerLink]="['/contact-us']"
              >Contact us</a
            >
          </li>
          <li class="flex">
            <a
              class="border-b border-white pb-1 text-white"
              [routerLink]="['/contact-us']"
              >User portal</a
            >
          </li>
        </ul>
      </nav>
    </div>

    <div>
      <p class="text-center text-sm text-white">
        © 2022 Virtu Medical. All rights reserved.
      </p>
    </div>
  </div>
</footer>
