<footer class="bg-primary p-5">
  <div class="lg:mx-auto lg:max-w-[992px]">
    <div class="mb-20 flex justify-center lg:justify-normal">
      <img src="/assets/virtu-2.svg" alt="Virtu" />
    </div>

    <div class="lg:mb-28 lg:flex lg:justify-between">
      <div>
        <div class="mb-16 flex justify-center lg:justify-normal">
          <nav>
            <ul class="flex gap-4">
              <li>
                <a href="">
                  <img src="/assets/instagram.svg" alt="Instagram" />
                </a>
              </li>
              <li>
                <a href="">
                  <img src="/assets/whatsapp.svg" alt="WhatsApp" />
                </a>
              </li>
              <li>
                <a href="">
                  <img src="/assets/linkedin.svg" alt="LinkedIn" />
                </a>
              </li>
              <li>
                <a href="">
                  <img src="/assets/youtube.svg" alt="YouTube" />
                </a>
              </li>
            </ul>
          </nav>
        </div>

        <div class="hidden lg:block">
          <nav class="flex justify-between gap-16">
            <ul class="flex flex-col gap-5">
              <li class="flex">
                <a class="border-b border-white pb-1 text-white" href=""
                  >Home</a
                >
              </li>
              <li class="flex">
                <a class="border-b border-white pb-1 text-white" href=""
                  >Solutions</a
                >
              </li>
              <li class="flex">
                <a class="border-b border-white pb-1 text-white" href=""
                  >Transportation</a
                >
              </li>
              <li class="flex">
                <a class="border-b border-white pb-1 text-white" href=""
                  >Home</a
                >
              </li>
            </ul>
            <ul class="flex flex-col gap-5">
              <li class="flex">
                <a class="border-b border-white pb-1 text-white" href=""
                  >Home</a
                >
              </li>
              <li class="flex">
                <a class="border-b border-white pb-1 text-white" href=""
                  >Home</a
                >
              </li>
              <li class="flex">
                <a class="border-b border-white pb-1 text-white" href=""
                  >Contact us</a
                >
              </li>
            </ul>
          </nav>
        </div>
      </div>

      <div class="mb-16 lg:mb-0 lg:max-w-[424px]">
        <h2
          class="mb-6 text-center text-2xl font-bold text-white lg:text-start">
          Contact Us
        </h2>
        <app-contact-us-form />
      </div>
    </div>

    <div class="mb-28 px-5 lg:hidden">
      <nav class="flex justify-between">
        <ul class="flex flex-col gap-5">
          <li class="flex">
            <a class="border-b border-white pb-1 text-white" href="">Home</a>
          </li>
          <li class="flex">
            <a class="border-b border-white pb-1 text-white" href=""
              >Solutions</a
            >
          </li>
          <li class="flex">
            <a class="border-b border-white pb-1 text-white" href=""
              >Transportation</a
            >
          </li>
          <li class="flex">
            <a class="border-b border-white pb-1 text-white" href="">Home</a>
          </li>
        </ul>
        <ul class="flex flex-col gap-5">
          <li class="flex">
            <a class="border-b border-white pb-1 text-white" href="">Home</a>
          </li>
          <li class="flex">
            <a class="border-b border-white pb-1 text-white" href="">Home</a>
          </li>
          <li class="flex">
            <a class="border-b border-white pb-1 text-white" href=""
              >Contact us</a
            >
          </li>
        </ul>
      </nav>
    </div>

    <div>
      <p class="text-center text-sm text-white">
        © 2022 Virtu Medical. All rights reserved.
      </p>
    </div>
  </div>
</footer>
