<main class="py-5 lg:mx-auto lg:max-w-[992px]">
  <section class="virtu-container mb-24">
    <p class="mb-4 text-sm uppercase">Analytics portal</p>
    <h1 class="mb-8 text-4xl font-bold">Membership module</h1>
    <p class="mb-5 text-base">
      The Membership Module in Virtu’s Analytics Portal offers complete control
      over patient tracking and engagement. It tracks new, active, disenrolled,
      and transfer patients, helping you monitor membership variance and trends
      over time.
    </p>
    <p class="mb-5 text-base">
      With seamless EHR connectivity, this module allows you to gauge patient
      engagement by tracking how frequently patients visit their primary care
      providers (PCPs) and the average time it takes for patients to see their
      PCP after enrolling in a new health plan.
    </p>
    <p class="text-base">
      The module also includes dashboards for identifying orphan patients and
      those outside your service area, providing high-level analysis with the
      ability to drill down to individual patient data.
    </p>
  </section>

  <section class="virtu-container mb-24">
    <h2 class="mb-10 text-2xl font-bold lg:text-3xl">Main benefits</h2>
    <ul>
      <li class="mb-8">
        <p class="text-sm lg:text-base">
          <span class="text-sm font-bold lg:text-base"
            >• Enhanced Patient Engagement:</span
          >
          Identify and track the engagement of patients, helping to reduce
          disenrollment and inactivity.
        </p>
      </li>
      <li class="mb-8">
        <p class="text-sm lg:text-base">
          <span class="text-sm font-bold lg:text-base"
            >• Comprehensive Membership Insights:</span
          >
          Access detailed information about patient locations across lines of
          business, health plans, and medical centers.
        </p>
      </li>
      <li class="mb-8">
        <p class="text-sm lg:text-base">
          <span class="text-sm font-bold lg:text-base"
            >• Improved Patient Care:</span
          >
          Utilize insights to improve the frequency and efficiency of patient
          visits.
        </p>
      </li>
    </ul>
  </section>

  <section class="virtu-container mb-24">
    <h2 class="mb-24 text-center text-3xl font-bold">Key features</h2>
    <ul class="lg:grid lg:grid-cols-2 lg:gap-x-14 lg:gap-y-5">
      <li class="mb-4 lg:mb-0">
        <app-key-feature
          [title]="'Comprehensive Member Data Management'"
          [description]="
            'Centralizes and manages all member data, including demographics, eligibility, and history, ensuring a complete view of each member’s profile.'
          " />
      </li>
      <li class="mb-4 lg:mb-0">
        <app-key-feature
          [title]="'Customizable Reporting & Member Tracking'"
          [description]="
            'Generates customizable reports for detailed member insights and tracks membership trends to support informed decision-making.'
          " />
      </li>
      <li class="mb-4 lg:mb-0">
        <app-key-feature
          [title]="'Automated Alerts & Notifications'"
          [description]="
            'Sets up automated notifications for membership renewals, expirations, and changes to maintain compliance and keep records up-to-date.'
          " />
      </li>
      <li class="mb-4 lg:mb-0">
        <app-key-feature
          [title]="'Seamless Integration with Other Modules'"
          [description]="
            'Integrates seamlessly with other modules, such as Claims and Billing & Coding, for a connected view of member activities and history.'
          " />
      </li>
    </ul>
  </section>

  <section>
    <article class="virtu-container">
      <p class="mb-6 text-center text-lg font-bold lg:px-28 lg:text-xl">
        Take control of your membership data with our intuitive, customizable
        module. Streamline operations, enhance patient engagement, and make
        data-driven decisions for better care outcomes.
      </p>
      <div class="flex justify-center">
        <a class="primary-button" [routerLink]="['/contact-us']">
          Request a demo today
        </a>
      </div>
    </article>
  </section>
</main>
