<article
  class="bg-main-banner-mobile lg:bg-main-banner-background flex flex-col items-center bg-contain bg-no-repeat lg:bg-cover">
  <div class="virtu-container mb-[440px] lg:mb-16">
    <h1 class="lg:text-4xl text-center text-2xl font-bold">
      Transforming Healthcare Management with Data-Driven Insights
    </h1>
  </div>
  <img
    class="hidden lg:block"
    src="/assets/home/main-banner.png"
    alt="Banner" />
  <div class="virtu-container">
    <p class="lg:text-xl mb-7 text-center text-lg font-bold lg:px-52">
      Maximize Efficiency, Enhance Patient Care, and Drive Better Outcomes with
      Virtu Medical
    </p>
  </div>
  <div class="virtu-container">
    <button class="rounded-lg bg-tertiary px-5 py-2.5 text-sm font-bold">
      Request a demo today
    </button>
  </div>
</article>
