<article
  class="flex flex-col items-center bg-main-banner-mobile bg-contain bg-no-repeat lg:bg-main-banner-background lg:bg-cover">
  <div class="virtu-container mb-[440px] lg:mb-16">
    <h1 class="text-center text-2xl font-bold lg:text-4xl">
      Transforming Healthcare Management with Data-Driven Insights
    </h1>
  </div>
  <img class="hidden lg:block" src="assets/home/main-banner.png" alt="Banner" />
  <div class="virtu-container">
    <p class="mb-7 text-center text-lg font-bold lg:px-52 lg:text-xl">
      Maximize Efficiency, Enhance Patient Care, and Drive Better Outcomes with
      Virtu Medical
    </p>
  </div>
  <div class="virtu-container">
    <a class="primary-button" [routerLink]="['/contact-us']">
      Request a demo today
    </a>
  </div>
</article>
