<article class="flex flex-col items-center">
  <div class="virtu-container">
    <h1 class="text-center text-2xl font-bold">
      Transforming Healthcare Management with Data-Driven Insights
    </h1>
  </div>
  <img src="../../../../assets/main-banner.png" alt="Banner" />
  <div class="virtu-container">
    <p class="mb-7 text-center text-lg font-bold">
      Maximize Efficiency, Enhance Patient Care, and Drive Better Outcomes with
      Virtu Medical
    </p>
  </div>
  <div class="virtu-container">
    <button class="rounded-lg bg-tertiary px-5 py-2.5 text-sm font-bold">
      Request a demo today
    </button>
  </div>
</article>
