<main class="py-5 lg:mx-auto lg:max-w-[992px]">
  <img
    class="absolute left-0 top-full -z-10 hidden max-w-[400px] lg:block"
    src="assets/analytics-portal/vector-3.png"
    alt="" />
  <section class="mb-24">
    <app-banner
      [title]="'Empower Your Medical Transportation with Virtu'"
      [description]="
        'Streamline Your Clinic’s Transportation Operations with Advanced Tools Medical Expertise.'
      "
      [legend]="'Transportation'"
      [image]="'assets/solutions/transportation.png'" />
  </section>

  <section class="mb-24">
    <app-feature-banner
      [title]="'Transportation Module'"
      [description]="[
        'Virtu’s Transportation Portal is a comprehensive system designed specifically to tackle the challenges of medical transportation. With our 27 years of combined medical experience, we ve crafted a solution that helps medical facilities do more with less—improving patient care while reducing operational costs.',
      ]"
      [image]="'assets/solutions/transportation-module.png'" />
  </section>

  <section class="virtu-container mb-24">
    <h2 class="mb-10 text-2xl font-bold lg:text-3xl">Main benefits</h2>
    <ul>
      <li class="mb-8">
        <p class="text-sm lg:text-base">
          <span class="text-sm font-bold lg:text-base"
            >• Streamline Patient Information Management:</span
          >
          Automatically upload patient information and integrate it with
          existing systems to ensure accurate and timely data access.
        </p>
      </li>
      <li class="mb-8">
        <p class="text-sm lg:text-base">
          <span class="text-sm font-bold lg:text-base"
            >• Enhance Communication:</span
          >
          Use direct messaging between drivers and dispatchers to eliminate
          miscommunication and improve decision-making, ensuring efficient
          transport operations.
        </p>
      </li>
      <li class="mb-8">
        <p class="text-sm lg:text-base">
          <span class="text-sm font-bold lg:text-base"
            >• Optimize Transportation Resources:</span
          >
          Reduce expenses while maintaining service quality by effectively
          managing transportation resources based on demand and patient needs.
        </p>
      </li>
      <li class="mb-8">
        <p class="text-sm lg:text-base">
          <span class="text-sm font-bold lg:text-base"
            >• Customize Transportation Services:</span
          >
          Tailor transportation options to meet individual patient needs and
          preferences, improving overall patient satisfaction.
        </p>
      </li>
      <li class="mb-8">
        <p class="text-sm lg:text-base">
          <span class="text-sm font-bold lg:text-base"
            >• Balance Driver Schedules:</span
          >
          Adjust driver schedules to balance workloads, reduce travel speed, and
          ensure timely patient transport, enhancing their overall experience.
        </p>
      </li>
      <li class="mb-8">
        <p class="text-sm lg:text-base">
          <span class="text-sm font-bold lg:text-base"
            >• Ensure Timely Arrivals:</span
          >
          Guarantee on-time arrivals for appointments, reducing patient wait
          times and increasing satisfaction with transportation services.
        </p>
      </li>
      <li class="mb-8">
        <p class="text-sm lg:text-base">
          <span class="text-sm font-bold lg:text-base"
            >• Monitor Vehicle Health:</span
          >
          Stay proactive by monitoring vehicle health with automated alerts for
          maintenance needs like oil changes and tire replacements, ensuring
          safe and reliable transportation.
        </p>
      </li>
      <li class="mb-8">
        <p class="text-sm lg:text-base">
          <span class="text-sm font-bold lg:text-base"
            >• Access Ongoing Support:</span
          >
          Rely on our support team to help you navigate any challenges from
          start to finish, ensuring a smooth transportation experience.
        </p>
      </li>
    </ul>
  </section>

  <section class="virtu-container mb-24">
    <h2 class="mb-24 text-center text-3xl font-bold">Key features</h2>
    <ul class="lg:grid lg:grid-cols-2 lg:gap-x-14 lg:gap-y-5">
      <li class="mb-4 lg:mb-0">
        <app-key-feature
          [title]="'Enhance Efficiency'"
          [description]="
            'Establishes daily routines that streamline every aspect of transportation management, from scheduling to quality assurance. Automated workflows ensure data integrity and increase productivity across your organization.'
          " />
      </li>
      <li class="mb-4 lg:mb-0">
        <app-key-feature
          [title]="'Offer Real-Time GPS Tracking'"
          [description]="
            'Integrates with Google Maps to plan the most efficient routes, ensuring timely patient arrivals. Real-time GPS tracking helps reduce fuel costs and improves driver satisfaction.'
          " />
      </li>
      <li class="mb-4 lg:mb-0">
        <app-key-feature
          [title]="'Deliver Cost Savings'"
          [description]="
            'Enables clients to experience an average 20% reduction in costs through better fleet management and optimized routes, contributing directly to the bottom line.'
          " />
      </li>
      <li class="mb-4 lg:mb-0">
        <app-key-feature
          [title]="'Maintain Security & Compliance'"
          [description]="
            'Keeps patient information secure at all times while ensuring full compliance with data protection regulations. The platform guarantees that all personal data, including addresses and phone numbers, are handled with the utmost care.'
          " />
      </li>
      <li class="mb-4 lg:mb-0">
        <app-key-feature
          [title]="'Facilitate EHR Integration'"
          [description]="
            'Seamlessly connects with existing EHR systems, ensuring real-time transfer of patient data for efficient transportation management.'
          " />
      </li>
      <li class="mb-4 lg:mb-0">
        <app-key-feature
          [title]="'Optimize Scheduling & Dispatch'"
          [description]="
            'Manages appointments, dispatches drivers, and tracks routes in real-time to improve overall operational efficiency.'
          " />
      </li>
      <li class="mb-4 lg:mb-0">
        <app-key-feature
          [title]="'Equip Drivers with Mobile Tablets'"
          [description]="
            'Provides drivers with tablets for easy access to schedules, GPS tracking, and direct communication, enhancing their ability to perform their duties effectively.'
          " />
      </li>
      <li class="mb-4 lg:mb-0">
        <app-key-feature
          [title]="'Integrate Uber Health'"
          [description]="
            'Offers Uber Health as a backup or primary transportation option for clinics, ensuring reliable patient transport when needed.'
          " />
      </li>

      <li class="mb-4 lg:mb-0">
        <app-key-feature
          [title]="'Generate Comprehensive Reports & Dashboards'"
          [description]="
            'Provides detailed insights into operations, helping organizations make informed decisions based on performance metrics.'
          " />
      </li>
    </ul>
  </section>

  <section>
    <article class="virtu-container">
      <p class="mb-6 text-center text-lg font-bold lg:px-28 lg:text-xl">
        Ready to transform patient transportation with VIRTU? Request a demo
        today and discover how our platform can revolutionize the way you manage
        healthcare transport services.
      </p>
      <div class="flex justify-center">
        <a class="primary-button" [routerLink]="['/contact-us']">
          Request a demo today
        </a>
      </div>
    </article>
  </section>
</main>
