<article class="virtu-container lg:flex lg:items-center">
  <div class="mb-3 lg:hidden">
    <h2 class="text-center text-2xl font-bold">{{ title }}</h2>
  </div>
  <div class="flex justify-center lg:w-1/2">
    <img [src]="image" [alt]="title" />
  </div>
  <div class="lg:w-1/2">
    <h2 class="hidden text-3xl font-bold lg:mb-4 lg:block">{{ title }}</h2>
    <p
      *ngFor="let paragraph of description"
      class="mb-6 text-sm last:mb-0 lg:text-base"
    >
      {{ paragraph }}
    </p>
  </div>
</article>
