<main class="py-5 lg:mx-auto lg:max-w-[992px]">
  <section class="mb-24">
    <app-banner
      [title]="'Analytics Portal'"
      [description]="'Providing insightful data for informed decision-making'"
      [image]="'assets/analytics-portal/analytics-portal.png'" />
  </section>

  <section class="mb-24">
    <article class="virtu-container">
      <p class="mb-6 text-sm lg:text-base">
        Virtu’s Analytics Portal is designed to deliver comprehensive insights
        across every aspect of patient management.
      </p>
      <p class="mb-6 text-sm lg:text-base">
        By integrating advanced analytics and intuitive dashboards, the
        Analytics Portal helps small healthcare facilities optimize their
        operations, improve patient care, and make data-driven decisions.
      </p>
      <p class="mb-6 text-sm lg:text-base">
        Each module within the portal is tailored to address specific
        challenges, providing you with the tools needed to enhance efficiency,
        compliance, and financial performance.
      </p>
    </article>
  </section>

  <section class="mb-24">
    <app-features />
  </section>

  <section class="virtu-container mb-24">
    <ul>
      <li class="mb-8">
        <p class="text-sm lg:text-base">
          <span class="text-sm font-bold lg:text-base"
            >• Improved Patient Care</span
          >
        </p>
      </li>
      <li class="mb-8">
        <p class="text-sm lg:text-base">
          <span class="text-sm font-bold lg:text-base"
            >• Streamlined Operations</span
          >
        </p>
      </li>
      <li class="mb-8">
        <p class="text-sm lg:text-base">
          <span class="text-sm font-bold lg:text-base"
            >• Enhanced Decision-Making</span
          >
        </p>
      </li>
      <li class="mb-8">
        <p class="text-sm lg:text-base">
          <span class="text-sm font-bold lg:text-base"
            >• Financial Optimization</span
          >
        </p>
      </li>
      <li class="mb-8">
        <p class="text-sm lg:text-base">
          <span class="text-sm font-bold lg:text-base"
            >• Scalability & Flexibility</span
          >
        </p>
      </li>
    </ul>
  </section>

  <section>
    <article class="virtu-container">
      <p class="mb-6 text-center text-lg font-bold lg:px-48 lg:text-3xl">
        Ready to transform your healthcare facility with Virtu’s Analytics
        Portal?
      </p>
      <div class="flex justify-center">
        <a class="primary-button" [routerLink]="['/contact-us']">
          Request a demo today
        </a>
      </div>
    </article>
  </section>
</main>
