<article>
  <div class="virtu-container mb-5">
    <h2 class="lg:text-3xl text-2xl font-bold lg:text-center">
      Our Comprehensive Healthcare Solutions
    </h2>
  </div>
  <div class="virtu-container mb-5">
    <p class="text-sm lg:text-base">
      At Virtu Medical, we offer a suite of solutions designed to empower
      healthcare providers with the tools they need to optimize patient care,
      streamline operations, and drive better outcomes. Explore our innovative
      solutions, crafted to meet the unique challenges of modern healthcare.
    </p>
  </div>
  <div class="pl-5">
    <swiper-container
      class="mySwiper"
      [breakpoints]="breakpointsConfig"
      space-between="30"
      pagination="true"
      pagination-clickable="true"
      [navigation]="isDesktop">
      <swiper-slide
        ><app-solutions-card
          [title]="'Analytics Portal'"
          [image]="'/assets/graph-1.png'"
          [description]="
            'Our Analytics Portal is your command center for healthcare management, providing a comprehensive view of your operations through the following powerful modules.'
          "
          [list]="[
            'Predictive analytics',
            'Real-time data',
            'Customizable dashboards',
          ]"
      /></swiper-slide>
      <swiper-slide
        ><app-solutions-card
          [title]="'Analytics Portal'"
          [image]="'/assets/graph-1.png'"
          [description]="
            'Our Analytics Portal is your command center for healthcare management, providing a comprehensive view of your operations through the following powerful modules.'
          "
          [list]="[
            'Predictive analytics',
            'Real-time data',
            'Customizable dashboards',
          ]"
      /></swiper-slide>
      <swiper-slide
        ><app-solutions-card
          [title]="'Analytics Portal'"
          [image]="'/assets/graph-1.png'"
          [description]="
            'Our Analytics Portal is your command center for healthcare management, providing a comprehensive view of your operations through the following powerful modules.'
          "
          [list]="[
            'Predictive analytics',
            'Real-time data',
            'Customizable dashboards',
          ]"
      /></swiper-slide>
    </swiper-container>
  </div>
</article>
