<article>
  <div class="virtu-container mb-5">
    <h2 class="text-2xl font-bold lg:text-center lg:text-3xl">
      Our Comprehensive Healthcare Solutions
    </h2>
  </div>
  <div class="virtu-container mb-5">
    <p class="mb-6 text-sm lg:text-base">
      At Virtu Medical, we offer a suite of solutions designed to empower
      healthcare providers with the tools they need to optimize patient care,
      streamline operations, and drive better outcomes.
    </p>
    <p class="text-sm lg:text-base">
      Explore our innovative solutions, crafted to meet the unique challenges of
      modern healthcare.
    </p>
  </div>
  <div class="pl-5">
    <swiper-container
      class="mySwiper"
      [breakpoints]="breakpointsConfig"
      space-between="30"
      pagination="true"
      pagination-clickable="true"
      [navigation]="isDesktop">
      <swiper-slide
        ><app-solutions-card
          [title]="'Analytics Portal'"
          [image]="'assets/home/transportation.jpg'"
          [description]="
            'Our Analytics Portal is your command center for healthcare management, providing a comprehensive view of your operations through the following powerful modules:'
          "
      /></swiper-slide>
      <swiper-slide
        ><app-solutions-card
          [title]="'Imaging Module'"
          [image]="'assets/home/imaging.png'"
          [description]="
            'Streamline imaging appointments and manage records with ease. Securely upload, review, and download imaging results without the need for physical media.'
          "
      /></swiper-slide>
      <swiper-slide
        ><app-solutions-card
          [title]="'Hospitalization Module'"
          [image]="'assets/home/hospitalization.png'"
          [description]="
            'Efficiently manage inpatient care, track admissions, and ensure optimal resource allocation for better patient outcomes.'
          "
      /></swiper-slide>
      <swiper-slide
        ><app-solutions-card
          [title]="'Referral Management Module'"
          [image]="'assets/home/referral-management.jpg'"
          [description]="
            'Improve referral processes with streamlined management, ensuring timely and accurate referrals that enhance patient care.'
          "
      /></swiper-slide>
      <swiper-slide
        ><app-solutions-card
          [title]="'Patient Outreach Module'"
          [image]="'assets/home/patient-outreach.jpg'"
          [description]="
            'Enhance patient engagement with a multi-channel communication platform, including calls, texts, and emails, all tailored to patient preferences.'
          "
      /></swiper-slide>
      <swiper-slide
        ><app-solutions-card
          [title]="'Transportation Module'"
          [image]="'assets/home/transportation.png'"
          [description]="
            'Coordinate patient transportation seamlessly with our integrated system, including EHR integration, scheduling, and GPS tracking.'
          "
      /></swiper-slide>
      <swiper-slide
        ><app-solutions-card
          [title]="'Disenrollment Module'"
          [image]="'assets/home/disenrollment.png'"
          [description]="
            'Monitor and manage patient disenrollment with insights into trends, enabling proactive strategies to retain patients and improve satisfaction.'
          "
      /></swiper-slide>
    </swiper-container>
  </div>
</article>
