<article class="virtu-container">
  <div class="mb-10">
    <h2 class="text-center text-2xl font-bold lg:text-3xl">Our Partners</h2>
  </div>
  <div
    class="grid grid-cols-2 items-center justify-items-center gap-10 lg:flex lg:items-center lg:justify-around">
    <img
      class="max-w-24 lg:max-w-[120px]"
      src="assets/home/company-1.png"
      alt="Company" />
    <img
      class="max-w-24 lg:max-w-[120px]"
      src="assets/home/company-2.png"
      alt="Company" />
  </div>
</article>
