<main class="py-5 lg:mx-auto lg:max-w-[992px]">
  <section class="virtu-container mb-24">
    <p class="mb-4 text-sm uppercase">Analytics portal</p>
    <h1 class="mb-8 text-4xl font-bold">Complex cases module</h1>
    <p class="mb-5 text-base">
      The Complex Cases Module within Virtu’s Analytics Portal empowers
      healthcare providers to effectively manage patients with multiple,
      chronic, or rare conditions.
    </p>
    <p class="mb-5 text-base">
      By integrating comprehensive patient data, from medical history to
      diagnostic results, this module offers a 360-degree view of each case,
      facilitating cross- disciplinary collaboration and improving care
      coordination.
    </p>
    <p class="mb-5 text-base">
      AI-driven insights and predictive analytics enhance diagnostic accuracy,
      optimize treatment plans, and help providers deliver personalized,
      evidence-based care.
    </p>
    <p class="text-base">
      With real-time alerts, automated documentation, and data-driven
      decision-making tools, the Complex Cases Module ensures healthcare teams
      are equipped to handle even the most challenging cases with efficiency and
      precision.
    </p>
  </section>

  <section class="virtu-container mb-24">
    <h2 class="mb-10 text-2xl font-bold lg:text-3xl">Main benefits</h2>
    <ul>
      <li class="mb-8">
        <p class="text-sm lg:text-base">
          <span class="text-sm font-bold lg:text-base"
            >• Improved Case Management:</span
          >
          Gain a holistic view of patient cases by integrating diverse data
          sources and facilitating seamless collaboration between specialists to
          ensure coordinated, comprehensive care.
        </p>
      </li>
      <li class="mb-8">
        <p class="text-sm lg:text-base">
          <span class="text-sm font-bold lg:text-base"
            >• Enhanced Diagnostic Accuracy:</span
          >
          Utilize AI and predictive analytics to identify patterns, predict
          disease progression, and offer evidence-based treatment options that
          improve diagnostic precision and patient outcomes.
        </p>
      </li>
      <li class="mb-8">
        <p class="text-sm lg:text-base">
          <span class="text-sm font-bold lg:text-base"
            >• Optimized Treatment Plans:</span
          >
          Leverage global case databases to develop personalized, evidence-based
          treatment strategies, ensuring patients receive the most effective
          care tailored to their unique conditions.
        </p>
      </li>
      <li class="mb-8">
        <p class="text-sm lg:text-base">
          <span class="text-sm font-bold lg:text-base"
            >• Reduced Medical Errors:</span
          >
          Minimize risks through real-time alerts and risk analysis, flagging
          potential complications such as drug interactions or missed care
          steps, and ensuring timely intervention.
        </p>
      </li>
      <li class="mb-8">
        <p class="text-sm lg:text-base">
          <span class="text-sm font-bold lg:text-base"
            >• Better Resource Allocation:</span
          >
          Streamline specialist referrals and manage treatment costs by using
          analytics to guide the selection of cost-effective, high-success
          treatment plans.
        </p>
      </li>
      <li class="mb-8">
        <p class="text-sm lg:text-base">
          <span class="text-sm font-bold lg:text-base"
            >• Improved Outcomes for Chronic and Rare Diseases:</span
          >
          Track patient progress over time with longitudinal data and access
          specialized insights into rare diseases, drawing from global case
          studies for more informed care strategies.
        </p>
      </li>
      <li class="mb-8">
        <p class="text-sm lg:text-base">
          <span class="text-sm font-bold lg:text-base"
            >• Enhanced Patient Engagement and Monitoring:</span
          >
          Support patient self-management through personalized care plans,
          follow-up reminders, and educational resources available via patient
          portals.
        </p>
      </li>
      <li class="mb-8">
        <p class="text-sm lg:text-base">
          <span class="text-sm font-bold lg:text-base"
            >• Regulatory Compliance and Reporting:</span
          >
          Ensure compliance with medical and regulatory standards through
          automated documentation and comprehensive record-keeping for complex
          cases.
        </p>
      </li>
      <li class="mb-8">
        <p class="text-sm lg:text-base">
          <span class="text-sm font-bold lg:text-base"
            >• Informed Decision-Making:</span
          >
          Facilitate data-driven case reviews, risk stratification, and
          simulation tools that help multidisciplinary teams make well-informed
          decisions for complex cases.
        </p>
      </li>
      <li class="mb-8">
        <p class="text-sm lg:text-base">
          <span class="text-sm font-bold lg:text-base"
            >• Predictive Case Outcomes:</span
          >
          Use simulation tools to project treatment outcomes and benchmark
          patient progress against similar cases globally, ensuring optimal care
          adjustments as needed.
        </p>
      </li>
      <li class="mb-8">
        <p class="text-sm lg:text-base">
          <span class="text-sm font-bold lg:text-base"
            >• Increased Provider Efficiency:</span
          >
          Save time with automated workflows, standardized care pathways, and
          streamlined multidisciplinary coordination, allowing providers to
          focus more on patient care.
        </p>
      </li>
    </ul>
  </section>

  <section class="virtu-container mb-24">
    <h2 class="mb-24 text-center text-3xl font-bold">Key features</h2>
    <ul class="lg:grid lg:grid-cols-2 lg:gap-x-14 lg:gap-y-5">
      <li class="mb-4 lg:mb-0">
        <app-key-feature
          [title]="'Comprehensive Data Aggregation & AI-Driven Insights'"
          [description]="
            'Centralizes patient data from various sources, such as medical history and diagnostics, and leverages AI to analyze this information, uncovering patterns and providing insights that improve diagnostic accuracy and treatment plans.'
          " />
      </li>
      <li class="mb-4 lg:mb-0">
        <app-key-feature
          [title]="'Predictive & Personalized Analytics'"
          [description]="
            'Uses predictive analytics to forecast disease progression and outcomes, while also delivering personalized treatment recommendations based on global data comparisons, tailored to each patient’s unique needs.'
          " />
      </li>
      <li class="mb-4 lg:mb-0">
        <app-key-feature
          [title]="'Cross-Disciplinary Collaboration & Real-Time Alerts'"
          [description]="
            'Facilitates seamless collaboration between specialists and sends real-time alerts for urgent case updates or potential risks, ensuring coordinated, error-free care for complex patients.'
          " />
      </li>
      <li class="mb-4 lg:mb-0">
        <app-key-feature
          [title]="'Outcome Simulation & Risk Analysis'"
          [description]="
            'Allows healthcare providers to simulate treatment outcomes, offering insights into the best course of action while simultaneously flagging potential risks like drug interactions or procedural complications.'
          " />
      </li>
      <li class="mb-4 lg:mb-0">
        <app-key-feature
          [title]="'Longitudinal Tracking & Specialist Referral Optimization'"
          [description]="
            'Tracks chronic and rare disease cases over time, providing dynamic care adjustments, and optimizes specialist referrals to ensure timely and necessary consultation.'
          " />
      </li>
      <li class="mb-4 lg:mb-0">
        <app-key-feature
          [title]="'Automated Documentation & Compliance'"
          [description]="
            'Ensures automatic documentation of all case-related activities, maintaining regulatory compliance while streamlining administrative tasks for efficient case management.'
          " />
      </li>
    </ul>
  </section>

  <section>
    <article class="virtu-container">
      <p class="mb-6 text-center text-lg font-bold lg:px-28 lg:text-xl">
        Maximize your ability to manage complex cases with Virtu’s advanced,
        AI-powered Complex Cases Module.
      </p>
      <div class="flex justify-center">
        <a class="primary-button" [routerLink]="['/contact-us']">
          Request a demo today
        </a>
      </div>
    </article>
  </section>
</main>
