<main class="py-5 lg:mx-auto lg:max-w-[992px]">
  <img
    class="absolute left-0 top-0 -z-10 hidden max-w-[700px] -translate-y-[30%] lg:block"
    src="assets/industries/vector-1.png"
    alt="" />
  <section class="mb-24">
    <app-feature-banner
      [title]="'Physician Groups'"
      [description]="[
        'Physician groups face increasing pressure to deliver high-quality, value-based care while managing the complexities of patient populations and administrative tasks. Virtu empowers physician groups with a comprehensive platform designed to streamline practice management, improve patient outcomes, and increase operational efficiency.',
        'With powerful data analytics, customizable modules, and intuitive dashboards, physician groups can focus on what matters most—providing exceptional care.',
      ]"
      [image]="'assets/industries/physician.png'" />
  </section>

  <section class="virtu-container mb-24">
    <h2 class="mb-24 text-center text-3xl font-bold">
      Virtu Modules Best Suited for Physician Groups
    </h2>
    <ul class="lg:grid lg:grid-cols-2 lg:gap-x-14 lg:gap-y-5">
      <li class="mb-4 lg:mb-0">
        <app-key-feature
          [title]="'Patient Outreach Module'"
          [description]="
            'Facilitates communication between providers and patients, sending automated reminders for appointments, lab tests, and screenings.'
          " />
      </li>
      <li class="mb-4 lg:mb-0">
        <app-key-feature
          [title]="'Labs Module'"
          [description]="
            'Offers a complete view of patient lab results and testing history, helping physicians make data-driven decisions and optimize treatment plans.'
          " />
      </li>
      <li class="mb-4 lg:mb-0">
        <app-key-feature
          [title]="'Membership Module'"
          [description]="
            'Enables comprehensive management of patient data, allowing physician groups to track health outcomes and improve care coordination.'
          " />
      </li>
      <li class="mb-4 lg:mb-0">
        <app-key-feature
          [title]="'Revenue Module'"
          [description]="
            'Provides insights into financial performance, enabling groups to optimize billing processes, identify areas for revenue growth, and reduce costs.'
          " />
      </li>
      <li class="mb-4 lg:mb-0">
        <app-key-feature
          [title]="'Claims Module'"
          [description]="
            'Streamlines the claims process, ensuring accurate submissions and tracking to maximize reimbursement and minimize administrative burden.'
          " />
      </li>
      <li class="mb-4 lg:mb-0">
        <app-key-feature
          [title]="'Reports Module'"
          [description]="
            'Delivers real-time reporting on key performance indicators, helping physician groups make informed decisions and meet regulatory requirements.'
          " />
      </li>
    </ul>
  </section>

  <section class="virtu-container mb-24">
    <h2 class="mb-10 text-2xl font-bold lg:text-3xl">Key benefits</h2>
    <ul>
      <li class="mb-8">
        <p class="text-sm lg:text-base">
          <span class="text-sm font-bold lg:text-base">
            • Improved Patient Care:
          </span>
          Data-driven insights help physicians deliver timely, coordinated care,
          reducing gaps in treatment and improving patient outcomes.
        </p>
      </li>

      <li class="mb-8">
        <p class="text-sm lg:text-base">
          <span class="text-sm font-bold lg:text-base">
            • Operational Efficiency:
          </span>
          Streamline practice management with automated workflows and real-time
          reporting, freeing up time for patient care.
        </p>
      </li>

      <li class="mb-8">
        <p class="text-sm lg:text-base">
          <span class="text-sm font-bold lg:text-base">
            • Revenue Growth:
          </span>
          Identify financial opportunities and optimize billing processes to
          increase profitability while reducing administrative overhead.
        </p>
      </li>

      <li class="mb-8">
        <p class="text-sm lg:text-base">
          <span class="text-sm font-bold lg:text-base">
            • Regulatory Compliance:
          </span>
          Meet reporting requirements and stay compliant with health regulations
          through detailed, automated reports.
        </p>
      </li>

      <li class="mb-8">
        <p class="text-sm lg:text-base">
          <span class="text-sm font-bold lg:text-base">
            • Patient Engagement:
          </span>
          Enhance patient satisfaction with proactive outreach and personalized
          care plans, ensuring they stay on track with treatments.
        </p>
      </li>
    </ul>
  </section>

  <section class="virtu-container mb-24 lg:mb-32">
    <h2 class="mb-5 text-center text-3xl font-bold lg:mb-8">Use Cases</h2>

    <div class="lg:flex lg:items-stretch lg:gap-5">
      <article
        class="mb-8 rounded-3xl bg-lightGreen p-5 lg:mb-0 lg:flex lg:w-1/2 lg:items-center lg:px-[30px] lg:py-[90px]">
        <div>
          <h3 class="mb-9 text-sm font-bold">
            Streamlining Practice Operations and Improving Patient Outcomes
          </h3>
          <p class="mb-8 text-sm">
            A large physician group was struggling with uncoordinated care and
            administrative overload, leading to missed follow-ups and increased
            patient dissatisfaction.
          </p>
        </div>
      </article>

      <article
        class="rounded-3xl bg-lightPurple2 p-5 lg:flex lg:w-1/2 lg:items-center lg:px-[30px] lg:py-[90px]">
        <div>
          <h3 class="mb-9 text-sm font-bold"></h3>
          <p class="mb-8 text-sm">
            By implementing Virtu’s Patient Outreach and Labs Modules, the group
            was able to automate patient reminders for tests and follow-ups,
            resulting in a 20% increase in patient compliance. The Revenue
            Module further allowed the group to identify underperforming areas
            and optimize resource allocation, increasing profitability by 12%
            within six months.
          </p>
        </div>
      </article>
    </div>
  </section>

  <section>
    <article class="virtu-container">
      <p class="mb-6 text-center text-lg font-bold lg:px-28 lg:text-xl">
        Empower your physician group with the tools to succeed in today’s
        complex healthcare environment. Request a demo to see how Virtu can
        streamline your operations, improve patient outcomes, and boost
        profitability.
      </p>
      <div class="flex justify-center">
        <a class="primary-button" [routerLink]="['/contact-us']"
          >Request a demo today</a
        >
      </div>
    </article>
  </section>
</main>
